* {
    font-family: "Ubuntu Mono", monospace;
}

body {
    margin: 0;
    margin-left: 25px;
    margin-right: 15px;
    min-width: 500px;
    overflow: scroll;
    /* text-wrap: nowrap; */
}

header {
    font-weight: 500;
    font-size: 40px;
    z-index: 500;
}

.postParagraph {
    padding: 5px 10px 10px 15px;
    max-width: 1000px;
    font-size: 18px;
    z-index: 1;
}

#publishDate {
    font-size: 12px;
    padding: 15px 20px 0px 15px;
    z-index: 1;
}

/* USE WHEN ADDING IMAGES */
/* 
.imgContainer {
    overflow: auto;
    width: 90vw;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.imgContainer > img {
    height: 500px; 
    width: 800px; 
} */
