* {
    font-family: "Ubuntu Mono", monospace;
}

body {
    margin: 0;
    overflow: auto;
    /* text-wrap: nowrap; */
}

header {
    padding: 0px 10px 0px 10px;
    font-weight: 900;
    font-size: 40px;
    z-index: 1000;
}

.postParagraph {
    padding: 5px 10px 10px 20px;
}

#publishDate {
    font-size: 12px;
    padding: 15px 20px 0px 15px;
}