* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: auto;
}

/* Index Page */
#indexBody {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    /* border: solid 2px; */
}

#indexHeader {
    display: flex;
    position: relative;
    margin: 0;
    height: 5%;
    min-height: 30px;
    z-index: 1000; 
}

#headerTitle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px 5px 5px 5px;
    font-size: 22px;
    font-weight: 1000;
    z-index: 0;
}

#themeToggle {
    position: absolute;
    padding: 5px 5px 5px 5px;
    right: 5px;
    top: 50%;
    margin-left: auto; 
    margin-right: 5px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

.mainContainer {
    display: flex;
    height: 95%;
}

#contentScreen {

    overflow: auto;
    position: fixed;
    align-items: right;
    justify-content: left;
    width: 200px;
    height: 100%;
    /* outline: rgb(45, 45, 45) solid 1px; */
    background-color: white;
    z-index: 2;
}

#postScreen {
    position: relative;
    align-items: right;
    width: 100%; 
    height: 100%;
    border: none;
    background-color: white;
    z-index: 1;
}

/* Contents Page */
#contentBody {
    
    height:fit-content;
    overflow: auto;
    margin:0;
    margin-bottom: 50px;
}

#contentHeader {
    opacity: 1;
    padding: 0px 5px 0px 0px;
}

#sideBarBtn {
    padding-right: 5px;
    margin-left: auto; 
    /* margin-right: 0; */
}

.headerContainer {
    display: flex; 
    justify-content: flex-end;
    padding: 5px 2px 5px 5px;
    font-size: 30px;
    font-weight: 900;
}

#myContent {
    padding: 0px 5px 50px 10px;
    text-decoration: none;
    font-size: 16px;
}

#contentItem {
    text-decoration: none; /* Removes the underline */
}

#sideBarBtn:hover, #headerTitle:hover, #themeToggle:hover,
#contentItem:hover, #categoryItem:hover, .category:hover{
    color: rgb(192, 192, 192);
    cursor: pointer;
}

.category {
    height: auto;
    cursor: pointer;
    text-decoration: none; 
    font-weight: 500;
}

.categoryContainer {
    display: none;
    visibility: collapse;
    height: 0px;
} 

#categoryItem {
    padding-left: 15px;
    padding-top: 5px;
    text-decoration: none;
}

/* POST STYLES */
.postBody {
    overflow: scroll;
    font-weight: 500;
}

#postHeader {
    padding: 0px 10px 0px 25px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 40px;
    z-index: 500;
}

#publishDate {
    padding: 15px 20px 0px 35px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    z-index: 1;
}


.postParagraph {
    padding: 0px 10px 0px 25px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 5px 10px 10px 15px; */
    /* padding: 5px 100px 10px 100px; */
    font-size: 18px;
    z-index: 1;
    
}

footer {
    width: 100%;
    height: 100px;
}
/* USE WHEN ADDING IMAGES */
/* 
.imgContainer {
    overflow: auto;
    width: 90vw;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.imgContainer > img {
    height: 500px; 
    width: 800px; 
} */